body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}
.sec_one{
  display: flex;
  margin-bottom: 70px;
}
.sec_one_a{
  width: 50%;
  padding-left: 70px;
  padding-top: 50px;
}
.sec_one_a img{
  width: 47%;
  margin-left: 70px;
}
.border_h_tag h1{
  font-size: 40px;
  font-family: 'Yeseva One', cursive;
  color: blueviolet;
}
.border_h_tag h2 span{
  font-size: 37px;
  font-family: 'Yeseva One', cursive;
  color: orange;
}
a{
  text-decoration: none;
  color: white;
}
button{
  padding: 10px 30px;
  background: #ff6b6b;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
}
.border_h_tag{
  border-left: 7px solid;
  border-image: linear-gradient(orange, blueviolet);
  border-image-slice: 1;
}
/* first section done */

.exp{
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  
}
.exp span{
  color: orange;
}
.sec_two{
  display: flex;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 100px;
}

.sec_two_img{
  width: 100px;
}

.sec_two_1{

  margin: 10px;
  padding: 25px;
  background-color:lightcyan;
  border-radius: 20px;
}

.sec_two_2{
  margin: 10px;
  padding: 25px;
  background-color: rgb(231, 215, 231);
  border-radius: 20px;
}

.sec_two_3{
  margin: 10px;
  padding: 25px;
  background-color: rgb(188, 235, 211);
  border-radius: 20px;
}
/* second section done */

.sec_three{
  display: flex;
  width: 90%;
  margin-bottom: 80px;
}

.sec_three div img{
  width: 70%;
  margin-left: 90px;
}

.sec_three_a{
  margin-right: 80px;
}
.sec_three_a h1{
  font-size: 90px;
  font-weight: bolder;
}
/* third section done */

.sec_four{
  display: flex;
  width: 95%;
  margin-bottom: 100px;
}

.sec_four div{
  margin-left: 100px;
}
.sec_four div img{
  margin-right: 80px;
  width: 70%;
}
/* fourth section done */
.sec_five{
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 50px;
}

.psd{
  text-align: center;
  color: orange;
}
.typesOf_psd{
  margin-left: 50px;
}

.typesOf_psd_a{
  background-color: #dff9fb;
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 10px;
}

.typesOf_psd_b{
  background-color: #b8e994;
  padding: 20px;
  border-radius: 10px;
}
.typesOf_psd_c{
  margin-left: 25px;
  border-radius: 10px;
  background-color: #ced6e0;
  padding: 20px;
}
.typesOf_psd_c p{
  padding-top: 40px;
}

/* section five done */

footer{
  
  text-align: center;
  color: #6D214F;
}

/* footer done */